{% extends 'layout/base.html' %}
{% block page_title %}
    <div class="title_left">
        <h3>出库管理</h3>
    </div>
{% endblock %}
{% block content_title %}
    <h2>新增出库&nbsp;
        <small>
            <a class="fa fa-angle-double-right"></a>&nbsp;&nbsp;
        </small>
    </h2>
{% endblock %}
{% block content %}
    <div class="x_content">
        <form action="{% url 'outbound_related:add_outbound' %}" method="post" novalidate>
            {% csrf_token %}
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">销售合同编号<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <input class="form-control" type="text" name="contract_number"
                           value="{{ outbounds.contract_number.value }}" required/>
                    <span style="color: red; font-weight: bold">{{ outbounds.contract_number.errors.0 }}</span>
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">出库单号<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <input class="form-control" type="text" name="form_number"
                           value="{{ outbounds.form_number.value }}" required/>
                    <span style="color: red; font-weight: bold">{{ outbounds.form_number.errors.0 }}</span>
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">项目名称<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <select class="form-control" name="project_FK">
                        <option>请选择</option>
                        {% for inbound in inbounds %}
                            <option value="{{ inbound.purchase_belong.project.id }}">{{ inbound.purchase_belong.project.project_name }}</option>
                        {% endfor %}
                    </select>
                    <span style="color: red; font-weight: bold">{{ outbounds.project_FK.errors.0 }}</span>
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">出库产品<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <select class="form-control" name="in_house">
                        <option>请选择</option>
                        {% for inbound in inbounds %}
                            <option value="{{ inbound.id }}">
                                {{ inbound.material_code }}{{ inbound.product_belong.product_name }}</option>
                        {% endfor %}
                    </select>
                    <span style="color: red; font-weight: bold">{{ outbounds.in_house.errors.0 }}</span>
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">出库数量<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <input class="form-control" name="quantity"
                           value="{{ outbounds.quantity.value }}" required/>
                    <span style="color: red; font-weight: bold">{{ outbounds.quantity.errors.0 }}</span>
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">申请人<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <input class="form-control" name="request_person" placeholder="张三丰"
                           value="{{ outbounds.request_person.value }}" required/>
                    <span style="color: red; font-weight: bold">{{ outbounds.request_person.errors.0 }}</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 offset-md-3"></div>

            <div class="ln_solid">
                <div class="form-group">
                    <br/>
                    <div class="col-md-6 offset-md-3">
                        <button type='submit' class="btn btn-danger">提 交</button>
                        <button type='reset' class="btn btn-warning">重 置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
