{% extends 'layout/base.html' %}
{% block page_title %}
    <div class="title_left">
        <h3>采购管理</h3>
    </div>

{% endblock %}
{% block content_title %}
    <h2>{{ title }}&nbsp;
        <small>
            <a class="fa fa-angle-double-right"></a>
            &nbsp;&nbsp;采购产品选项增减
        </small>

    </h2>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span id="plus" style="margin-top: 3px" class="fa fa-plus btn btn-outline-primary"></span>

    <span id="minus" style="margin-top: 3px" class="fa fa-minus btn btn-outline-primary"></span>


{% endblock %}
{% block content %}
    <div class="x_content">
        <form action="" novalidate>
            {% csrf_token %}
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">采购单号<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <input class="form-control" name="form_number" placeholder="202003040020"
                           value="{{ purchase.form_number }}"
                           required/>
                    <span style="color: red; font-weight: bold"></span>
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">合同编号<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <input class="form-control" name="contract_number" type="text" placeholder="CS-CG-20200904-0024"
                           value="{{ purchase.contract_number }}"/>
                    <span style="color: red; font-weight: bold"></span>
                </div>
            </div>
            {% if purchase is not null %}
                <div class="field item form-group">
                    <label class="col-form-label col-md-3 col-sm-3  label-align">所属项目<span
                            class="required">*</span></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="form-control" name="project_id" disabled>
                            {#                            <option>请选择</option>#}
                            <!-- 有project-->
                            <option selected="selected"
                                    value="{{ purchase.project_id }}"> {{ purchase.project.project_name }}
                            </option>
                            {#                            {% if purchase.project is not null %}#}
                            {#                                {% with this_project_id=purchase.project_id %}#}
                            {#                                    <!--将project遍历-->#}
                            {#                                    {% for project in projects %}#}
                            {#                                        <!--如果当前purchase的project.id等于当前project的id，将当前project选中-->#}
                            {#                                        {% if this_project_id == project.id %}#}
                            {#                                            <option selected="selected"#}
                            {#                                                    value="{{ project.id }}"> {{ project.id }}   {{ project.project_name }}#}
                            {#                                            </option>#}
                            {#                                        {% else %}#}
                            {#                                            <option#}
                            {#                                                    value="{{ project.id }}">{{ project.id }} {{ project.project_name }}#}
                            {#                                            </option>#}
                            {#                                        {% endif %}#}
                            {#                                    {% endfor %}#}
                            {#                                {% endwith %}#}
                            {#                            {% else %}#}
                            {#                                {% for project in projects %}#}
                            {#                                    <option value="{{ project.id }}">{{ project.project_name }}</option>#}
                            {#                                {% endfor %}#}
                            {#                            {% endif %}#}
                        </select>
                        <span style="color: red; font-weight: bold"></span>
                    </div>
                </div>
                {% with set=purchase.purchaseproductrel_set.all %}
                    {% for rel in set %}
                        {% with this_product_id=rel.product.id %}
                            <div name="product_unit" class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">采购产品<span
                                        class="required">*</span></label>
                                <div class="col-md-4 col-sm-4">
                                    <select class="form-control" name="product">
                                        <option>请选择</option>
                                        {% for product in products %}
                                            {% if product.id == this_product_id %}
                                                <option value="{{ product.id }}"
                                                        selected>{{ product.product_name }} {{ product.product_model }}
                                                </option>
                                            {% else %}
                                                <option value="{{ product.id }}">{{ product.product_name }} {{ product.product_model }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}

                                    </select>
                                    <span style="color: red; font-weight: bold"></span>
                                    <span id="purchase_id" style="display:none">{{ purchase.id }}</span>
                                    <span id="product_len" style="display:none">{{ set.count }}</span>
                                </div>

                                <label class="col-form-label col-sm-1" style="text-align: center">数量<span
                                        class="required">*</span></label>
                                <div class="col-md-1 col-sm-1">
                                    <input class="form-control" name="quantity" value="{{ rel.quantity }}"
                                           required/>
                                    <span style="color: red; font-weight: bold"></span>

                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                {% endwith %}
            {% else %}
                <div class="field item form-group">
                    <label class="col-form-label col-md-3 col-sm-3  label-align">所属项目<span
                            class="required">*</span></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="form-control" name="project_id">
                            <option>请选择</option>
                            {% for project in projects %}
                                <option value="{{ project.id }}">{{ project.project_name }}</option>
                            {% endfor %}
                        </select>
                        <span style="color: red; font-weight: bold"></span>
                    </div>
                </div>
                <div name="product_unit" class="field item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">采购产品<span
                            class="required">*</span></label>
                    <div class="col-md-4 col-sm-4">
                        <select class="form-control" name="product">
                            <option >请选择</option>
                            {% for product in products %}
                                <option value="{{ product.id }}">{{ product.product_name }} {{ product.product_model }}</option>
                            {% endfor %}
                        </select>
                        <span style="color: red; font-weight: bold"></span>
                    </div>

                    <label class="col-form-label col-sm-1" style="text-align: center">数量<span
                            class="required">*</span></label>
                    <div class="col-md-1 col-sm-1">
                        <input class="form-control" name="quantity" value="{{ purchases.quantity.value }}"
                               required/>
                        <span style="color: red; font-weight: bold">{{ purchases.quantity.errors.0 }}</span>

                    </div>
                </div>
            {% endif %}
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">需求人<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <input class="form-control" name="demand_person" value="{{ purchase.demand_person }}"
                           required/>
                    <span style="color: red; font-weight: bold" id="demand_person_error"></span>
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align">经手人<span
                        class="required">*</span></label>
                <div class="col-md-6 col-sm-6">
                    <input class="form-control" name="handle_man" value="{{ purchase.handle_man }}" required/>
                    <span style="color: red; font-weight: bold" id="handle_man_error"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 offset-md-3"></div>
            <div class="ln_solid">
                <div class="form-group">
                    <br/>
                    <div class="col-md-6 offset-md-3">
                        <button id="go_add" type="button" class="btn btn-danger">提 交</button>
                        {% if purchase is None %}
                            <button type='reset' class="btn btn-warning">重 置</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascript %}
    <script src="/static/custom/common.js"></script>
    <script src="/static/custom/purchase_add.js"></script>
{% endblock %}