{% extends 'layout/base.html' %}
{% block page_title %}
    <div class="title_left">
        <h3>采购管理</h3>
    </div>
    <div class="title_right" style="height: 51px">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" style="margin-top: 6px">
            <form action="{% url 'purchase_related:get_query_purchase' %}" class="input-group">
                <input type="text" class="form-control" name="query" placeholder="采购单号或合同编号">
                <span class="input-group-btn">
                          <button class="btn btn-secondary" type="submit">搜索</button>
                </span>
            </form>
        </div>
    </div>
{% endblock %}
{% block content_title %}
    <h2>
        <small>
            <a class="fa fa-plus btn btn-outline-success"
               href="{% url 'purchase_related:add_or_update' %}">&nbsp;&nbsp;新增采购</a>
        </small>
    </h2>
{% endblock %}
{% block content %}
    <table id="datatable-buttons"
           class="table table-striped table-bordered"
           style="width:100%; text-align: center">
        <thead>
        <tr>
            <th>序号</th>
            <th>采购单号</th>
            <th>合同编号</th>
            <th>项目名称</th>
            <th>产品名称</th>
            <th>配置</th>
            <th>单价</th>
            <th>数量</th>
            <th>供应商</th>
            <th>采购时间</th>
            <th>需求人</th>
            <th>经手人</th>
            <th>编辑</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            {% for rel in rel_set %}
                {# 嵌套遍历#}
                {% with rowcount=rel|length %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        {% if rowcount > 1 %}
                            <tr>
                                <td rowspan="{{ rowcount }}"
                                    style="vertical-align: middle;border: solid rgba(68,79,87,0.21) 1px;">{{ forloop.counter }}</td>
                                <td rowspan="{{ rowcount }}"
                                    style="vertical-align: middle;border: solid rgba(68,79,87,0.21) 1px;">{{ purchase.form_number }}</td>
                                <td rowspan="{{ rowcount }}"
                                    style="vertical-align: middle;border: solid rgba(68,79,87,0.21) 1px;">{{ purchase.contract_number }}</td>
                                <td rowspan="{{ rowcount }}"
                                    style="vertical-align: middle;border: solid rgba(68,79,87,0.21) 1px;">{{ purchase.project.project_name }}</td>
                                <td>{{ rel.0.product.product_name }}</td>
                                <td>{{ rel.0.product.product_model }}</td>
                                <td>{{ rel.0.product.unit_price }}</td>
                                <td>{{ rel.0.quantity }}</td>
                                <td>{{ rel.0.product.manufacturer.manufacturer_name }}</td>
                                <td rowspan="{{ rowcount }}"
                                    style="vertical-align: middle;border: solid rgba(68,79,87,0.21) 1px;">{{ purchase.purchase_date | date:"Y-m-d" }}</td>
                                <td rowspan="{{ rowcount }}"
                                    style="vertical-align: middle;border: solid rgba(68,79,87,0.21) 1px;">{{ purchase.demand_person }}</td>
                                <td rowspan="{{ rowcount }}"
                                    style="vertical-align: middle;border: solid rgba(68,79,87,0.21) 1px;">{{ purchase.handle_man }}</td>
                                <td rowspan="{{ rowcount }}"
                                    style="vertical-align: middle;border: solid rgba(68,79,87,0.21) 1px;"><a
                                        href="{% url 'purchase_related:get_one_purchase' pk=purchase.id %}"
                                        class="fa fa-edit"
                                        name={{ user.id }}></a>&nbsp;&nbsp;
                                    <a href="{% url 'purchase_related:delete_purchase' pk=purchase.id %}"
                                       class="fa fa-trash"
                                       name="{{ user.id }}"></a>
                                </td>
                            </tr>

                            {% for r in rel %}
                                {% if forloop.counter > 1 %}
                                    <tr>
                                        <td>{{ r.product.product_name }}</td>
                                        <td>{{ r.product.product_model }}</td>
                                        <td>{{ r.product.unit_price }}</td>
                                        <td>{{ r.quantity }}</td>
                                        <td>{{ r.product.manufacturer.manufacturer_name }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ purchase.form_number }}</td>
                                <td>{{ purchase.contract_number }}</td>
                                <td>{{ purchase.project.project_name }}</td>
                                <td>{{ rel.0.product.product_name }}</td>
                                <td>{{ rel.0.product.product_model }}</td>
                                <td>{{ rel.0.product.unit_price }}</td>
                                <td>{{ rel.0.quantity }}</td>
                                <td>{{ rel.0.product.manufacturer.manufacturer_name }}</td>
                                <td>{{ purchase.purchase_date | date:"Y-m-d" }}</td>
                                <td>{{ purchase.demand_person }}</td>
                                <td>{{ purchase.handle_man }}</td>
                                <td><a href="{% url 'purchase_related:get_one_purchase' pk=purchase.id %}"
                                       class="fa fa-edit"
                                       name={{ user.id }}></a>&nbsp;&nbsp;
                                    <a href="{% url 'purchase_related:delete_purchase' pk=purchase.id %}"
                                       class="fa fa-trash"
                                       name="{{ user.id }}"></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}
    <div class="col-sm-5">
        <div class="dataTables_info">
            {{ purchases.start_index }} - {{ purchases.end_index }}
            of {{ count }}
        </div>
    </div>
    <div class="col-sm-7">
        <div class="dataTables_paginate">
            <ul class="pagination">
                {% if purchases.has_previous %}
                    <li class="paginate_button previous"><a
                            href="?page=1">
                        第一页</a></li>
                    <li class="paginate_button previous disabled">
                        <a href="?page={{ purchases.previous_page_number }}">上一页</a>
                    </li>
                {% endif %}
                <li class="paginate_button active"><a
                        aria-controls="dataTable">第 {{ purchases.number }}
                    页 /
                    共 {{ purchases.paginator.num_pages }} 页</a>
                </li>
                {% if purchases.has_next %}
                    <li class="paginate_button"><a
                            href="?page={{ purchases.next_page_number }}">下一页</a>
                    </li>
                    <li class="paginate_button"><a
                            href="?page={{ purchases.paginator.num_pages }}">最后一页
                    </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}